.services-header {
  position: relative;
  margin: 0rem auto 3rem;
  max-width: 1028px;
  width: 100%;
  .image-text{
      position: absolute;
      left: 8%;
      bottom: 8.3%;
      display: inline-block;
      color: white;
      font-size: 5rem;
      font-weight: bold;
  }
  h2{
      margin-bottom: 1rem; 
  }
}


.services-container {
  margin-bottom: 5rem;
  .content {
    padding: 0 1.6rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 2rem;
    width: 100%;
  }
}

.tabs {
  width: 100%;
    margin-top: 5rem;
  .tabs-items {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  .tabs-item {
    display: none;
    .content {
      display: flex;
      flex-direction: column;
    }

    .tabs-item-title {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
  .tabs-item-selected {
    display: flex;
    width: 100%;
  }

  .tabs-links {
    display: flex;
    justify-content: space-between;
  }

  .tabs-link {
    .create-btn();
    font-weight: bold;
  }
}
